<web-app>
	<servlet>
		<servlet-name>alter_Servlet</servlet-name>
		<servlet-class>alter_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>alter_Servlet</servlet-name>
		<url-pattern>/alter_Servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>express_Servlet</servlet-name>
		<servlet-class>express_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>express_Servlet</servlet-name>
		<url-pattern>/express_Servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>login_Servlet</servlet-name>
		<servlet-class>login_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login_Servlet</servlet-name>
		<url-pattern>/login_Servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>logout_Servlet</servlet-name>
		<servlet-class>logout_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout_Servlet</servlet-name>
		<url-pattern>/logout_Servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>modifyidea_Servlet</servlet-name>
		<servlet-class>modifyidea_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifyidea_Servlet</servlet-name>
		<url-pattern>/modifyidea_Servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>modifypwd_Servlet</servlet-name>
		<servlet-class>modifypwd_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifypwd_Servlet</servlet-name>
		<url-pattern>/modifypwd_Servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>order_Servlet</servlet-name>
		<servlet-class>order_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>order_Servlet</servlet-name>
		<url-pattern>/order_Servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>payed_Servlet</servlet-name>
		<servlet-class>payed_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>payed_Servlet</servlet-name>
		<url-pattern>/payed_Servlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>purchase_Servlet</servlet-name>
		<servlet-class>purchase_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>purchase_Servlet</servlet-name>
		<url-pattern>/purchase_Servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>register_Servlet</servlet-name>
		<servlet-class>register_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>register_Servlet</servlet-name>
		<url-pattern>/register_Servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>search_Servlet</servlet-name>
		<servlet-class>search_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>search_Servlet</servlet-name>
		<url-pattern>/search_Servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>trolley_Servlet</servlet-name>
		<servlet-class>trolley_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>trolley_Servlet</servlet-name>
		<url-pattern>/trolley_Servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>user_Servlet</servlet-name>
		<servlet-class>user_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>user_Servlet</servlet-name>
		<url-pattern>/user_Servlet</url-pattern>
	</servlet-mapping>
</web-app>